/* your custom css */

.homeContainer .homeWrapper .projectLogo {
  position: relative;
  justify-content: center;
}

a {
  color: #23a5a8;
}

/*
 * Stylesheets for Zilliqa Staking Calculator Plugin
 * Mar 2020
 */

 #staking-calculator {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  padding: 10px 0px 20px 20px;
  width: 470px;
  border: none;
  border-radius: 8px;
  background: #eceff1;
  -webkit-box-shadow: 10px 10px 17px -19px rgba(212,212,212,1);
  -moz-box-shadow: 10px 10px 17px -19px rgba(212,212,212,1);
  box-shadow: 10px 10px 17px -19px rgba(212,212,212,1);
}

#staking-calculator > h4 {
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #13c2c2;
}

#staking-calculator label {
  color: #333333;
  display: inline-block;
  width: 250px;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8em;
}

#staking-calculator input {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
  padding: 12px 14px;
  width: 200px;
  text-align: left;
}

/* estimated amount */
#staking-calculator #rewards-container {
  color: #ffffff;
  background: #4db6ac;
  padding-top: 2px;
  height: 40px;
  width: 450px;
  font-size: 0.8em;
  font-weight: bold;
}

#staking-calculator #rewards-label {
  text-transform: uppercase;
  margin-left: 10px;
}

#staking-calculator #rewards {
  letter-spacing: 0.1em;
  padding-right: 14px;
  float: right;
}

#staking-calculator #resetBtn {
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: none;
  color: #999999;
  box-shadow: 0px 0px 0px transparent;
  border: none;
  border-radius: 4px;
  font-size: 0.8em;
  float: right;
  margin-top: -5px;
  margin-right: 20px;
  text-decoration: underline;
}

#staking-calculator #resetBtn:hover {
  cursor: pointer;
  color: #13c2c2;
}

/* Tooltip container */
.help-container {
  font-size: 0.8em;
  color: #333333;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #333333; /* If you want dots under the hoverable text */
}

.help-container .help-tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #607d8b;
  color: #f0f0f0;
  text-align: left;
  padding: 8px 8px 8px 8px;
  border-radius: 6px;
 
  /* Position the tooltip text*/
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 80%;
  margin-left: -150px;
}

.help-container .help-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #607d8b transparent transparent transparent;
}  

/* Show the tooltip text when you mouse over the tooltip container */
.help-container:hover .help-tooltiptext {
  visibility: visible;
}

.help-container .help-tooltiptext {
  opacity: 0;
  transition: opacity 1s;
}

.help-container:hover .help-tooltiptext {
  opacity: 1;
}

.help-container:hover {
  cursor: pointer;
}

/* error message display */
#staking-message {
  font-size: 0.8em;
  color: #f44336;
  font-weight: bold;
}