---
id: formal-verification
title: Formal verification of contract
---
Formal verification of contract